<h1>POKEMON</h1>

<!-- filter input -->
<div class="form-group">
  <input [(ngModel)]="searchText" placeholder="name">
</div>
<!-- <div class="form-group">
  <input [(ngModel)]="searchType" placeholder="type">
</div>
<div class="form-group">
  <input [(ngModel)]="searchAbility" placeholder="ability">
</div> -->

<!-- list -->
<ul>
  <li *ngFor="let c of characters | appFilter: searchText">
    {{c.name}} | {{c.type}} | {{c.ability}}
  </li>
</ul>

<!-- router -->
<router-outlet></router-outlet>
